@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Full page styling */
.App {
    margin: 0;
    font-family: "Inter", "sans-serif";
    background-color: #EFEFEF;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    display: flex;
    background: #F55A5A;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}

.header--globe {
    padding: 5px 10px 5px 10px;
}

.header--title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -.075em;
    color: white;
    margin-bottom: 0;
}

/* Travel Card styling */
.travel-card {
    display: flex;
    padding: 2% 5% 2% 2%;
    align-items: top;
    color: #2B283A;
}

.card--img-container {
    min-width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.card--modal-btn {
    border: none;
    display: flex;
}

.card--trip-pic {
    border-radius: 15px;
    max-height: 230px;
    max-width: 100%;
}

.card--trip-pic:hover {
    opacity: 0.7;
}

.card--location-items {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
}

.card--marker {
    color: #F55A5A;
}

.card--broad-location {
    text-transform: uppercase;
    letter-spacing: .17em;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.card--google-maps {
    color: #918E9B;
    font-size: 12px;
}

.card--specific-location {
    font-size: 29px;
    padding-top: 5px;
}

.card--dates {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.card--description {
    text-align: justify;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/* Modal & Carousel styling */
.modal--background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #918E9B;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.modal--container {
    width: 85vw;
    height: 85vh;
    background-color: white;
    display: flex;
}

.modal--close-btn {
    position: absolute;
    margin-top: 15px;
    right: 9%;
    padding: 10px;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 900;
    opacity: 50%;
    z-index: 100;
}

.modal--carousel {
    width: 100%;
    height: 100%;
    display: flex;
}

.carousel-inner {
    display: flex;
    background-color: #868d61d2;
}

.modal--img {
    height: 100%;
    margin: auto;
    display: flex;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (max-width: 720px) {
    
    .card--location-items {
        font-size: 10px;
    }
    
    .card--broad-location {
        font-size: 12px;
    }
    
    .card--google-maps {
        font-size: 10px;
    }
    
    .card--specific-location {
        font-size: 24px;
    }
    
    .card--dates {
        font-size: 11px;
    }
    
    .card--description {
        font-size: 10px;
    }

    .card--trip-pic {
        max-height: 200px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait){

    /* Header styling for mobile */

    header {
        margin-bottom: 0;
    }

    /* Travel card styling for mobile */

    .travel-card {
        flex-direction: column;
        padding-inline: 0;
        padding-top: 0;
    }
    
    .card--img-container {
        width: 100%;
        margin-right: 0;
    }
    
    .card--trip-pic {
        border-radius: 0;
        min-width: 100%;
        max-height: none;
    }

    .card--details-container {
        display: flex;
        flex-direction: column;
        padding: 10px 15px 30px 15px;
    }
    
    .card--specific-location {
        order: -1;
        font-size: 32px;
        padding-top: 5px;
    }
    
    .card--location-items {
        font-size: 16px;
        align-items: center;
    }

    .card--marker {
        padding-bottom: 5px;
    }
    
    .card--broad-location {
        font-size: 18px;
    }
    
    .card--google-maps {
        font-size: 14px;
    }
    
    .card--dates {
        font-size: 14px;
        margin-block: 5px 4px;
    }
    
    .card--description {
        font-size: 12px;
    }

    /* Modal styling for mobile */

    .modal--container {
        width: 100%;
        height: 100%;
    }

    .modal--img {
        max-width: 100%;
        height: auto;
        align-self: center;
    }
}